div{
    display: flex;
    
}
.container{
    width: 100vw;
    height: 100vh;
    background: #3a167c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
table {
    border-collapse: collapse;
    text-align: center;
    width: 700px;
    font-size: medium;
    border: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
}

